<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <link
    href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kumar+One&display=swap"
    rel="stylesheet">



  <!-- Optional custom styles -->
 
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/suggestion.css">
  



  <!--flaticon.css-->
  <!-- <link rel="stylesheet" href="assets/css/flaticon.css"> -->
  <!-- for api location -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places"></script>
  <!-- flaticon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <!-- slick.js -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
</head>

<body>
  <header class="main-header">
    <div class="header-web">
        <div class="web-header-content">
            <div class="web-header-top-main-content">
                <div class="web-header-logo">
                    <h5>KnoqDbest</h5>
                </div>
                <div class="web-city-category-search-input">
                    <div class="web-category-search">
                        <input type="text" id="categoryInput" placeholder="Category..." readonly>
                        <input type="hidden" id="categoryValue" name="category">
                        <div class="select-wrapper">
                            <ul>
                                <% businessHeaderCategory.forEach(category => { %>
                                    <li data-value="<%= category.category_value %>"><%= category.category_name %></li>
                                <% }) %>
                            </ul>
                            
                            
                            
                        </div>
                    </div>
                    <div class="web-city-search">
                        <input type="text" id="cityInput" placeholder="Search by city">
                        <div id="suggestionBox" class="suggestions"></div>
                    </div>
                    <div class="web-search-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
                <div class="web-header-login-menubar">
                  
                  <% if (typeof user !== 'undefined' && user) { %>
                    <!-- Show Manage Business if user is logged in -->
                     <!-- use same classes of login  -->
                    <div class="web-header-login">
                        <a href="/your-business/<%= user.id %>" class="signup-btn">Manage Business</a>
                    </div>
                <% } else { %>
                    <!-- Show Login & Signup if user is not logged in -->
                    <div class="web-header-login" id="open-modal">
                        <a href="/login" class="login-btn">Login</a>
                        <a href="/login" class="signup-btn">Sign Up</a>
                    </div>
                <% } %>
                    
                <div class="web-header-menubar">
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                  <div class="web-menu-header-slider-multi-option-when-clicked">
                      
                    <% if (typeof user !== 'undefined' && user) { %>
                          <!-- If User is Logged In -->
                          <div class="web-header-user-profile">
                          
                            <img src="<%= user.profile_image ? user.profile_image : '/images/dummy/dummy profile.jpg' %>" 
                            alt="User Profile">
                              <div class="webs-user-name-city">
                                  <h5><%= user.name %></h5>
                              </div>
                          </div>
                          <div class="web-user-free-listing-option-btn">
                            <a href="/edit">Edit profile</a>
                        </div>
                          
                          <div class="web-user-free-listing-option-btn">
                            <a href="/business-profile">Free listing</a>
                        </div>
                        <div class="web-user-profile-logout">
                          <a href="/book-your-taxi">Book a taxi</a>
                        </div>
                        <div class="web-user-profile-logout">
                          <a href="/coming-soon">Book a guide</a>
                        </div>
                        <div class="web-user-profile-logout">
                          <a href="/coming-soon">Build a Community</a>
                        </div>
                        <div class="web-user-profile-logout">
                          <a href="/logout">Logout</a>
                        </div>
                        
              
                      <% } else { %>
                          <!-- If No User is Logged In -->
                          <div class="web-header-user-profile">
                              <img src="/images/dummy/dummy profile.jpg" alt="User Profile">
                              <div class="webs-user-name-city">
                                  <h5>Guest</h5>
                              </div>
                              

                          </div>
                          <div class="web-user-free-listing-option-btn">
                            <a href="/login">Login</a>
                        </div>
                          <div class="web-user-free-listing-option-btn">
                            <a href="/business-profile">Free Listing</a>
                        </div>
                        <div class="web-user-profile-logout">
                          <a href="/book-your-taxi">Book taxi</a>
                        </div>
                        <div class="web-user-profile-logout">
                          <a href="/coming-soon">Book a guide</a>
                        </div>
                        <div class="web-user-profile-logout">
                          <a href="/coming-soon">Build a Community</a>
                        </div>
                        
                      <% } %>
              
                     
              
                  </div>
              </div>
              
                </div>
            </div>
            <div class="web-header-bottom-main-content">
                <div class="web-header-all-toggle-btns">
                    <div class="web-header-ev-toggle-btn">
                        <span class="toggle-label">Switch to EV</span>
                        <label class="toggle-switch ">
                            <input type="checkbox" id="ev-toggle" <%= toggle.ev ? 'checked' : '' %>>
                            <span class="slider round ev-toggle-slider"></span>
                        </label>
                    </div>
                    <div class="web-header-weman-toggle-btn">
                        <span class="toggle-label">Women Owned Business</span>
                        <label class="toggle-switch ">
                            <input type="checkbox" id="weman-toggle" <%= toggle.women ? 'checked' : '' %>>
                            <span class="slider round wemen-toggle-slider"></span>
                        </label>
                    </div>
                </div>
            </div>
            </div>
        <div class="phone-header-content">
            <div class="phone-header-main-content">
                <div class="phone-header-main-logo">
                    <a href="/">Knoq D Best</a>
                </div>
                <div class="phone-header-login-signup-menu-dot">
                    <div class="phone-header-login">
                      <% if (typeof user !== 'undefined' && user) { %>
                      <a href="/your-business/<%= user.id %>"  class="login-btn">Manage Business</a>
                      
                      <% } else { %>
                        <a href="/login" class="login-btn">Login</a>
                      <a href="/login" class="signup-btn">Sign Up</a>
                      <% } %>
                    </div>
                    <div class="phone-header-menubar">
                      <i class="fa-solid fa-ellipsis-vertical"></i>
                      <div class="phone-menu-header-slider-multi-option-when-clicked">
                          <h4 class="phone-who-best-title">Whose Best</h4>
                          <div class="phone-search-category-city">
                              <div class="phone-city-category-search-input">
                                  <div class="phone-category-search">
                                      <input type="text" id="phoneCategoryInput" placeholder="Category..." readonly>
                                      <input type="hidden" id="phoneCategoryValue" name="phone-category">
                                      <div class="phone-select-wrapper">
                                        <ul>
                                            <% businessHeaderCategory.forEach(category => { %>
                                                <li data-value="<%= category.category_value %>"><%= category.category_name %></li>
                                            <% }) %>
                                        </ul>
                                        
                                      </div>
                                  </div>
                                  <div class="phone-city-search">
                                    <input type="text" id="mobile-suggestion-input" placeholder="Search by city" onkeyup="showMobileSuggestions()">
                                    <div class="phone-city-search-input-icon">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </div>
                                    <ul id="mobile-suggestion-list" class="mobile-suggestion-dropdown"></ul>
                                </div>
                                
                              </div>
                          </div>
                  
                          <div class="phone-all-toggle-btns">
                              <div class="phone-ev-toggle-btn-container">
                                  <span class="phone-toggle-label">Switch to EV</span>
                                  <label class="phone-toggle-switch">
                                      <input type="checkbox" id="phone-ev-toggle-input" <%= toggle.ev ? 'checked' : '' %>>
                                      <span class="phone-slider phone-round phone-ev-toggle-slider"></span>
                                  </label>
                              </div>
                              <div class="phone-weman-toggle-btn-container">
                                  <span class="phone-toggle-label">Women Owned Business</span>
                                  <label class="phone-toggle-switch">
                                      <input type="checkbox" id="phone-weman-toggle-input" <%= toggle.women ? 'checked' : '' %>>
                                      <span class="phone-slider phone-round phone-wemen-toggle-slider"></span>
                                  </label>
                              </div>
                          </div>
                  
                          <% if (typeof user !== 'undefined' && user) { %>
                              <!-- Show user profile only if logged in -->
                              <div class="phone-user-profile">
                                  <div class="phone-user-profile-img">
                                    <img src="<%= user.profile_image ? user.profile_image : '/images/dummy/dummy profile.jpg' %>" >
                                  </div>
                                  <div class="phone-user-profile-name-city">
                                      <p><%= user.name %></p>
                                    
                                  </div>
                              </div>
                              <div class="phone-user-free-listing-option-btn">
                                <a href="/edit">Edit profile</a>
                            </div>
                            <div class="phone-user-free-listing-option-btn">
                              <a href="/business-profile">Free Listing</a>
                          </div>
                              <div class="phone-user-free-listing-option-btn">
                                <a href="/book-your-taxi">Book a taxi</a>
                            </div>
                            <div class="phone-user-free-listing-option-btn">
                              <a href="/coming-soon">Book a guide</a>
                          </div>
                          <div class="phone-user-free-listing-option-btn">
                            <a href="/coming-soon">Build a Community</a>
                        </div>
                              <!-- Show Logout button if user is logged in -->
                              <div class="phone-user-profile-logout">
                                  <a href="/logout">Logout</a>
                              </div>
                          <% } else { %>
                              <!-- If no user is logged in, show login button -->
                              <div class="phone-user-profile-logout">
                                  <a href="/login">Login</a>
                              </div>
                              <div class="phone-user-free-listing-option-btn">
                                <a href="/business-profile">Free Listing</a>
                            </div>
                              <div class="phone-user-free-listing-option-btn">
                                <a href="/book-your-taxi">Book a taxi</a>
                            </div>
                            <div class="phone-user-free-listing-option-btn">
                              <a href="/coming-soon">Book a guide</a>
                          </div>
                        
                          <% } %>
                  
                      </div>
                  </div>
                  
                </div>
            </div>
        </div>
    </div>
</header>


  <%- body %>
    <!-- footer -->
    <div class="footer">
        <div class="footer-content-container">
            <div class="whose-best-footer-main-content">
                <div class="whose-best-footer-logo">
                    <a href="/">
                        <h1>KnoqDbest</h1>
                    </a>
                </div>
                <div class="whose-best-footer-social-links">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
            <div class="whose-best-footer-navigation-links">
                <div class="whose-best-footer-quick-links">
                    <h3>Quick Links</h3>
                    <div class="whose-best-footer-links">
                        <a href="/">Home</a>
                        <a href="#">About Us</a>
                        <a href="#">Services</a>
                        <a href="#">Contact Us</a>
                    </div>
                </div>
                <div class="whose-best-footer-policy-links">
                    <h3>Policy</h3>
                    <div class="whose-best-footer-links">
                        <a href="/privacy-policy">Privacy Policy</a>
                        <a href="/term-conditions">Terms & Conditions</a>
                        <!-- <a href="#">Sitemap</a> -->
                    </div>
                </div>
                <div class="whose-best-footer-news-letter-review">
                    <div class="whose-best-footer-review">
                        <p><a href="/form">Leave a Review</a> for KnoqDbest</p>
                    </div>
                </div>
            </div>
            <div class="whose-best-footer-copyright">
                <p>© 2023 KnoqDbest Best. All rights reserved.</p>
                <a href="mailto:support.whosebest@knoqlogico.com">Get Support</a>
            </div>
        </div>
    </div>

    <!-- <div class="container mt-4">

    </div> -->
 
 




   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"></script>

    <!-- Feather Icons -->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace();
    </script>

    <script>
     

      

      // document.getElementById('evToggle').addEventListener('change', function () {
      //   console.log("toggle function hit");
      //   const toggleValue = this.checked; // Get toggle value (true/false)

      //   // Send the value to the server using Fetch API or AJAX
      //   fetch('/update-toggle', {
      //     method: 'POST',
      //     headers: { 'Content-Type': 'application/json' },
      //     body: JSON.stringify({ toggle: toggleValue }),
      //   })
      //     .then(response => response.json())
      //     .then(data => {
      //       console.log('Toggle updated:', data.message);

      //       window.location.reload();

      //     })
      //     .catch(error => console.error('Error:', error));
      // });



    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="/suggestion.js"></script>
    <script src="/main.js"></script>
    <script src="/toggle.js"></script>
    
</body>

</html>