<link rel="stylesheet" href="/manage-business.css">
<link rel="stylesheet" href="/enter-business-detial.css">

<div id="manage-business-details-successModal" class="manage-business-details-modal">
    <div class="manage-business-details-modal-content">
        <span class="manage-business-details-close">&times;</span>
        <div id="manage-business-details-modalIcon" class="manage-business-details-modal-icon"></div>
        <p id="manage-business-details-modalMessage">Default Message</p>
    </div>
</div>


<% if(!business){ %>
    <div class="alert-notification-container-business-details-missing">
        You have not entered your business details yet. Please enter your business details to continue.
    </div>
<% } %>
<div class="main-container-business-management-interface">
    <h1 class="heading-primary-business-management-page">Manage Your Business</h1>

    <!-- Section Card for Business Management -->
    <div class="card-container-business-management-tabs-wrapper">
        <div class="card-header-business-navigation-tab-section">
            <ul class="list-business-navigation-tab-buttons" id="businessTabs">
                <li class="list-item-business-tab-navigation-button">
                    <a class="button-tab-navigation tab-button active" data-tab="details">Business Details</a>
                </li>
                <li class="list-item-business-tab-navigation-button">
                    <a class="button-tab-navigation tab-button" data-tab="feedback">Reviews</a>
                </li>
                <li class="list-item-business-tab-navigation-button">
                    <a class="button-tab-navigation tab-button" data-tab="hours">Business Hours</a>
                </li>
            </ul>
        </div>
        <div class="card-body-container-business-tab-content">
            <div class="content-wrapper-all-tabs-business-management" id="businessTabsContent">
                <!-- Business Details Tab -->
                <div class="tab-pane tab-content active" id="details-tab">
                    <div class="business-details-container-wrapper">
                        <div class="business-details-container">
                            <div class="business-details-header">
                                <i class="fas fa-building header-icon"></i>
                                <h2>Manage Business </h2>
                                <p class="header-subtitle">Enter your business details carefully</p>
                            </div>
                            <form id="updateBusinessForm" class="business-details-form">
                                <input type="hidden" id="businessId" value="<%= business.id %>">
                                <input type="hidden" id="ownerId" value="<%= business.user_id %>">
                                
                                <div class="form-group form-group-row">
                                    <div class="input-wrapper half-width">
                                        <label for="businessName"><i class="fas fa-tag"></i> Business Name</label>
                                        <input type="text" id="businessName" placeholder="Enter business name" value="<%= business.business_name %>">
                                    </div>
                                    <div class="input-wrapper half-width">
                                        <label for="businessCategory"><i class="fas fa-briefcase"></i> Category</label>
                                        <input type="text" id="businessCategory" value="<%= business.category %>" readonly>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="businessAddress"><i class="fas fa-map-marker-alt"></i> Address</label>
                                    <input type="text" id="businessAddress" placeholder="Enter business address" value="<%= business.address %>">
                                </div>
                                
                                <div class="form-group form-group-row">
                                    <div class="input-wrapper half-width">
                                        <label for="businessCity"><i class="fas fa-city"></i> City</label>
                                        <input type="text" id="businessCity" value="<%= business.city %>">
                                    </div>
                                    <div class="input-wrapper half-width">
                                        <label for="businessState"><i class="fas fa-map"></i> State</label>
                                        <input type="text" id="businessState" value="<%= business.state %>">
                                    </div>
                                </div>
                                
                                <div class="form-group form-group-row">
                                    <div class="input-wrapper half-width">
                                        <label for="businessPhone"><i class="fas fa-phone"></i> Phone</label>
                                        <input type="text" id="businessPhone" placeholder="Enter business phone" value="<%= business.phone %>">
                                    </div>
                                    <div class="input-wrapper half-width">
                                        <label for="businessWebsite"><i class="fas fa-globe"></i> Website</label>
                                        <input type="text" id="businessWebsite" value="<%= business.website %>">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="businessOverview"><i class="fas fa-info-circle"></i> Overview</label>
                                    <input type="text" id="businessOverview" value="<%= business.overview %>">
                                </div>
                                
                                <div class="form-group">
                                    <label for="businessUsp"><i class="fas fa-star"></i> USP (Unique Selling Point)</label>
                                    <input type="text" id="businessUsp" value="<%= business.usp %>">
                                </div>
                                
                                <h3>Services</h3>
                                <hr>
                                <div class="form-group form-group-row">
                                    <div class="input-wrapper half-width">
                                        <label for="businessService1">Service 1</label>
                                        <input type="text" id="businessService1" value="<%= business.services1 %>">
                                    </div>
                                    <div class="input-wrapper half-width">
                                        <label for="businessService2">Service 2</label>
                                        <input type="text" id="businessService2" value="<%= business.services2 %>">
                                    </div>
                                </div>
                                <div class="form-group form-group-row">
                                    <div class="input-wrapper half-width">
                                        <label for="businessService3">Service 3</label>
                                        <input type="text" id="businessService3" value="<%= business.services3 %>">
                                    </div>
                                    <div class="input-wrapper half-width">
                                        <label for="businessService4">Service 4</label>
                                        <input type="text" id="businessService4" value="<%= business.services4 %>">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="thumbnail"><i class="fas fa-image"></i> Thumbnail Image</label>
                                    <input type="file" id="thumbnail" name="thumbnail" accept="image/*">
                                </div>
                                
                                
                                
                                <div class="form-group">
                                    <label for="images"><i class="fas fa-upload"></i> Upload Images</label>
                                    <input 
                                        type="file" 
                                        id="images" 
                                        name="images" 
                                        multiple 
                                        accept="image/*" 
                                        <% if (remainingImages <= 0) { %> 
                                            disabled 
                                        <% } %> 
                                    >
                                </div>
                                <div id="remaining-count" data-remaining-images="<%= remainingImages %>">
                                    Remaining images: <%= remainingImages %>
                                </div>
                                <p id="error-msg" style="color: red;"></p>
                                
                                
                                
                                
                                
                                <!-- Toast Message -->
                                <div id="toast" style="display: none; background-color: red; color: white; padding: 10px; margin-top: 10px; margin-bottom: 10px; border-radius: 5px;">
                                    Image size must be less than 3MB.
                                </div>
                                
                                <div class="form-group submit-group">
                                    <button type="submit" class="submit-btn" onclick="updateBusinessDetails(event)">
                                        <i class="fas fa-save"></i> Save Changes
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Reviews Tab -->
                <div class="tab-pane tab-content" id="feedback-tab">
                    <div class="list-container-customer-feedback-items">
                        <% if (reviews.length > 0) { %>
                            <% reviews.forEach(review => { %>
                                <div class="feedback-item-container-customer-review">
                                    <h5 class="feedback-heading-customer-name"><%= review.name %></h5>
                                    <p class="feedback-text-review-content"><%= review.review %></p>
                                    <small class="feedback-text-rating-stars">Rating: 
                                        <%= '★'.repeat(review.rating) + '☆'.repeat(5 - review.rating) %>
                                    </small>
                                    <span class="feedback-date">Posted on <%= new Date(review.created_at).toLocaleDateString() %></span>
                                </div>
                            <% }) %>
                        <% } else { %>
                            <p class="no-reviews-message">No reviews yet. Be the first to leave a review!</p>
                        <% } %>
                    </div>
                    
                </div>

                <!-- Business Hours Tab -->
                <div class="tab-pane tab-content" id="hours-tab">

                    <div class="form-container-business-hours-schedule-section">
                        <h2 class="heading-secondary-business-days-selection">Select Business Days</h2>

                        <form id="businessHoursForm" class="form-business-hours-schedule-details">
                            <label class="checkbox-label-business-operating-day"><input type="checkbox" name="days" value="Monday"> Monday</label>
                            <label class="checkbox-label-business-operating-day"><input type="checkbox" name="days" value="Tuesday"> Tuesday</label>
                            <label class="checkbox-label-business-operating-day"><input type="checkbox" name="days" value="Wednesday"> Wednesday</label>
                            <label class="checkbox-label-business-operating-day"><input type="checkbox" name="days" value="Thursday"> Thursday</label>
                            <label class="checkbox-label-business-operating-day"><input type="checkbox" name="days" value="Friday"> Friday</label>
                            <label class="checkbox-label-business-operating-day"><input type="checkbox" name="days" value="Saturday"> Saturday</label>
                            <label class="checkbox-label-business-operating-day"><input type="checkbox" name="days" value="Sunday"> Sunday</label>
                            <input type="hidden" id="existing_hours" value="<%= businessHours.length > 0 ? 'true' : 'false' %>">

                            <div class="time-picker-container-business-hours">
                                <h3 class="heading-tertiary-business-operating-hours">Set Common Business Hours</h3>
                                Open: <input type="time" class="time-input-opening-hours-business" id="opening_time">
                                Close: <input type="time" class="time-input-closing-hours-business" id="closing_time">
                            </div>

                            <button type="submit" class="button-submit-form-save-business-hours">Save Schedule</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



 
<script src="/manage-business.js"></script>